<% title "Collection" %>

<p>
  <strong>Name:</strong>
  <%= @collection.name %>
</p>

Is there <b><%= pluralize(@products.count, 'product') %></b> in this collection.
<table>
<% @products.each do |p| %>
<tr>
	<td><%= link_to p.name, product_path(p) %></td>
	<td><%= p.description %></td>
	<td><%= p.statue.name %></td>
	<% p.photos.each do |img| %>
		<td><%= image_tag img.image_url(:thumb).to_s %></td>
	<% end %>
</tr>	
<% end %>
</table>
<p>
	<%= link_to 'Back', :back %>
</p>
