<h1>Home#index</h1>

Hello <%= current_user.email %>, there is <%= pluralize(@collections.count, 'collection') %> visible.</br>

List of collection : </br>
<% @collections.each do |c| %>
	<%= link_to c.name, c %> </br>
<% end %>

