<!DOCTYPE html>
<html>
<head>
  <title>MobilePres</title>
  <%= stylesheet_link_tag "sencha/sencha-touch.css" %>
  <%= stylesheet_link_tag "extsrc/test-static.css" %>
  <%= stylesheet_link_tag "extsrc/test.css" %>
</head>
<body>
<% if Rails.env.production? %>
<%= javascript_include_tag "sencha/sencha-touch-all.js" %>
<%= javascript_include_tag "extsrc/app.js" %>
<% else %>
<%= javascript_include_tag "sencha/sencha-touch-all-debug.js" %>
<%= javascript_include_tag "extsrc/app.js" %>
<% end %>
<noscript>
  You need to activate javascript.
</noscript>
</body>
</html>
