.categories-list {
    text-align: center;
}

.categories-list .categories-list-container {
    max-width: 1024px;
    margin: 0 auto;
}

.categories-list-item {
    background: rgba(38, 38, 38, 0.5);
    border: 1px solid rgba(67, 67, 67, 0.5);
    height: 180px;
    -webkit-transition: background .2s ease-in, border-color .2s ease-in;
}

.categories-list .categories-list-item {
    margin: 0 20px;
    margin-top: 20px;
    padding: 30px;
}

.categories-list .categories-list-item:first-child {
    margin-top: 0;
}

body:not(.x-phone) .categories-list .categories-list-item {
    display: inline-block;
    padding: 30px 50px;
}

.categories-list .categories-list-item .image {
    background: #fff;
    background-position: center;
    background-repeat: no-repeat;
    height: 87px;
    max-width: 212px;
}

body.x-phone .categories-list .categories-list-item .image {
    margin:0 auto;
}

body:not(.x-phone) .categories-list .categories-list-item .image {
    width:212px;
}

.categories-list .categories-list-item .name {
    padding-top:20px;
    font-size:20px;
    text-shadow:0 1px 0 #000;
    color:#fff;
    font-family:'Quattrocento Sans', sans-serif;
}

.x-landscape .categories-list .categories-list-item {
    margin:10px;
}

.x-portrait .categories-list .categories-list-item {
    margin:20px;
}

.categories-list .x-item-pressed {
    background:rgba(0, 53, 41, 0.7);
    border-color:rgba(0, 53, 41, 0.8);
}

.categories-list .categories-list-inner {
    line-height:10px;
}

.x-landscape .categories-list .categories-list-inner {
    padding-top:10px;
}

.x-portrait .categories-list .categories-list-inner {
    padding-top:20px;
    padding-bottom:20px;
}

.categories-list.root {
    background-image:url(../images/bg.jpg);
    background-position:top center;
    background-repeat:no-repeat;
}

body:not(.x-phone).x-landscape .categories-list.root .categories-list-item:first-child {
    margin-right:345px;
}

.x-phone .categories-list.root .categories-list-inner {
    padding-top:100px;
}

body:not(.x-phone).x-portrait .categories-list.root .categories-list-inner {
    padding-top:280px;
}

.products {
    background:#fff
}
.products .x-innerhtml {
    display:table;
    table-layout:fixed;
    width:100%;
    height:100%;
    border:1px solid #ccc;
    border-width:0 1px 1px 0
}
.x-phone .products .x-innerhtml {
    border-right:0;
    border-bottom:0
}
.products .row {
    display:table-row
}
.products .row>* {
    display:table-cell
}
.products .row:last-child .product {
    border-bottom:0
}
.products .product {
    background-size:80%;
    background-position:center;
    background-repeat:no-repeat;
    border-width:0 1px 1px 0;
    border-style:solid;
    border-color:#ddd;
    text-align:center
}
.products .product .image {
    height:160px;
    background-repeat:no-repeat;
    background-position:center center
}
.products .product img {
    -webkit-border-radius:5px;
    border-radius:5px
}
.products .product .name {
    width:100%;
    padding:20px 10px 5px 10px;
    color:#014637;
    font-size:16px;
    font-family:'Quattrocento Sans',sans-serif;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.products .product .price {
    width:100%;
    font-size:12px;
    color:#aaa;
    font-family:'Quattrocento Sans',sans-serif;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis
}
.products .landscape .product {
    width:25%
}
.products .landscape .product .image {
    margin-top:36px
}
.products .portrait .product {
    width:33%
}
.products .portrait .product .image {
    margin-top:18px
}
.product-view {
    background:#fff;
    padding:30px
}
.product-view .product-view-inner .description {
    padding-left:15px
}
.product-view .product-view-inner .description ul li {
    list-style:disc outside none;
    margin-left:25px
}
.product-view .product-view-inner .name {
    font-family:'Quattrocento Sans',sans-serif;
    line-height:28px;
    font-size:20px;
    font-weight:700;
    color:#014637
}
.product-view .product-view-inner .text {
    font-size:14px;
    color:#aaa;
    line-height:20px
}
.product-view .product-view-inner .x-img {
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center
}
.product-view a:link,.product-view a:active,.product-view a:visited,.products a:link,.products a:active,.products a:visited {
    display:block;
    background-color:#028257;
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#03cd89),color-stop(50%,#029b68),color-stop(51%,#028257),color-stop(100%,#026946));
    background-image:-webkit-linear-gradient(#03cd89,#029b68 50%,#028257 51%,#026946);
    background-image:linear-gradient(#03cd89,#029b68 50%,#028257 51%,#026946);
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #015035;
    margin:30px 60px;
    text-align:center;
    padding:10px;
    font-size:22px;
    font-family:'Quattrocento Sans',sans-serif;
    font-weight:bold;
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.3);
    text-decoration:none
}
.products a {
    margin-top: 0
}