body,.x-fullscreen,.x-layout-fit-item,.x-layout-card-item {
    background:#000
}
.x-toolbar {
    /* @TODO TOOLBAR COLOR HERE */
    background: -webkit-linear-gradient(top, #555, #111);
    border-bottom: 1px solid #333 !important;
}

.x-button-dark {
    background: -webkit-linear-gradient(top, #666, #444 3%, #222) !important;
    border: 1px solid #777 !important;
}