<%= form_for @photo do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.number_field :product_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
