<% title "Photos" %>

<table>
  <tr>
    <th>Image</th>
    <th>Product</th>
  </tr>
  <% for photo in @photos %>
    <tr>
      <td><%= photo.image %></td>
      <td><%= photo.product_id %></td>
      <td><%= link_to "Show", photo %></td>
      <td><%= link_to "Edit", edit_photo_path(photo) %></td>
      <td><%= link_to "Destroy", photo, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Photo", new_photo_path %></p>
