// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:


.image_cadre {
	background-color: #FFFFFF;
    border: 1px solid #D1D8DF;
    width: 150px;
    text-align: center;
	line-height: 150px;
}

.image_cadre img {
	vertical-align: middle;
}
