<%= form_for @product do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :collection_id %><br />
    <%= f.number_field :collection_id %>
  </p>
  <p>
    <%= f.label :statue_id %><br />
    <%= f.number_field :statue_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
