<% title "Products" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Collection</th>
    <th>Statue</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.collection_id %></td>
      <td><%= product.statue_id %></td>
      <td><%= link_to "Show", product %></td>
      <td><%= link_to "Edit", edit_product_path(product) %></td>
      <td><%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Product", new_product_path %></p>
