<% title "Product" %>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Collection:</strong>
  <%= @product.collection.name %>
</p>
<p>
  <strong>Statue:</strong>
  <%= @product.statue.name %>
</p>

<% @product.photos.each do |p| %>
	<%= image_tag p.image_url(:big) %> </br>
<% end %>

<p>

	<%= link_to 'Back', :back %>
</p>
